$font-Dm-Sans: "DM Sans", sans-serif;
.index {
  &__font {
    font-family: $font-Dm-Sans;
    font-weight: 500;
    div:first-child {
      margin-right: 25%;
    }
  }
  &__label {
    font-family: $font-Dm-Sans;
    font-size: 36px;
  }
  &__legend {
    font-family: $font-Dm-Sans;
    font-weight: 400;
  }
  &__legend__apresentation{
    font-family: $font-Dm-Sans;
    font-weight: 400;
  }
  &__info {
    font-family: $font-Dm-Sans;
    font-weight: bold;
  }
  &__contact__info{
    font-family: $font-Dm-Sans;
    font-weight: bold;
  }
  &__photo {
    width: 75%;
    margin-left: 10%;
  }

  &__about{
    margin-right: 10px;
  }
  &__text{
      display: none;
  }
  &__logo{
      margin-left: 5%;
  }
}

@media (min-width:1000px) {
    .index__text{
        font-family: $font-Dm-Sans;
        display: inline;
        font-size: 20px;
    }
    .index__legend__apresentation{
       
        display: none;
      
    }
    .index__info{
        font-size: 30px;
    }
}
